*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#eef7fb;
color:#222;
}

header{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1800&q=80");
background-size:cover;
background-position:center;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 10%;
}

nav h1{
color:white;
font-size:32px;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:600;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
padding:20px;
}

.hero h2{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:35px;
}

.btn{
display:inline-block;
background:#00a8e8;
color:white;
padding:15px 35px;
border-radius:40px;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:#0077b6;
transform:scale(1.05);
}

section{
padding:80px 10%;
}

section h2{
text-align:center;
margin-bottom:50px;
font-size:38px;
color:#0077b6;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:30px;
border-radius:20px;
text-align:center;
box-shadow:0 15px 35px rgba(0,0,0,.08);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card h1{
font-size:48px;
color:#00a8e8;
margin:15px 0;
}

.menu{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.menu div{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.menu h3{
margin-bottom:20px;
color:#0077b6;
}

.menu ul{
list-style:none;
}

.menu li{
padding:10px 0;
border-bottom:1px solid #eee;
}

.note{
margin-top:35px;
text-align:center;
font-style:italic;
}

.social{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.social a{
padding:15px 35px;
border-radius:40px;
text-decoration:none;
color:white;
font-weight:bold;
transition:.3s;
}

.instagram{
background:#E1306C;
}

.instagram:hover{
transform:scale(1.05);
}

.meteo{
background:#0096c7;
}

.meteo:hover{
transform:scale(1.05);
}

footer{
background:#0077b6;
color:white;
text-align:center;
padding:30px;
margin-top:60px;
}

@media(max-width:768px){

.hero h2{
font-size:40px;
}

nav{
flex-direction:column;
gap:15px;
}

nav a{
margin:0 10px;
}

}
